<app-auth-layout>
  <h2 class="signIntxt">Login</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
    <div class="formField">
      <input
        placeholder="Enter your email"
        id="fiohEmail"
        type="email"
        name="email"
        formControlName="email"
      />
      <span
        *ngIf="
          !signUpForm.get('email').valid && signUpForm.get('email').touched
        "
        >Enter a valid Email Address</span
      >
    </div>

    <div class="formField">
      <input
        placeholder="Enter your password"
        id="fiohPassword"
        type="password"
        name="pwd"
        formControlName="pwd"
      />
      <span
        *ngIf="!signUpForm.get('pwd').valid && signUpForm.get('pwd').touched"
        >Enter a valid password</span
      >
    </div>

    <div class="checkBoxcontainer">
      <cus-check-box idn="remember"> Remember me </cus-check-box>
      <a href="" class="fioh-forgotPassword">Forgot password?</a>
    </div>
    <div class="fiohLoginBtn">
      <button id="fiohBtn" type="submit" [disabled]="!signUpForm.valid">
        {{ submitted ? "updating..." : "Login" }}
      </button>
    </div>
  </form>

  <fieldset class="fieldset">
    <legend class="fioh-legend">OR</legend>
    <fbg *ngFor="let f of fiohBtns; let i = index">
      <button (click)="signFbg(i)">
        <span class="displayImg">
          <img [src]="f.imageSrc" alt="fbg img"
        /></span>
        <span>{{ f.text }}</span>
      </button>
    </fbg>
    <div class="fiohSignupContainer">
      <div class="acc">Don't have an account?</div>
      <a class="fiohSignup">Sign up</a>
    </div>
  </fieldset>

  <!-- <div class="caution" *ngIf="signUpForm.invalid && signUpForm.touched">
    Wrong email and password combination
  </div> -->
</app-auth-layout>
