.signIntxt {
  font-size: 50px;
  font-weight: 700;
}
.formField {
  display: flex;
  flex-direction: column;
  span {
    font-size: 15px;
  }
}

.fiohSignupContainer {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 8px;
  .fiohSignup {
    color: var(--primary);
  }
}

#fiohBtn {
  padding: 20px;
  // width: 100%;
  border-radius: 30px;
  color: #ffffff;
  background-color: var(--primary);
  text-align: center;
  border: none;
  margin-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
}

.checkBoxcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#fiohEmail,
#fiohPassword {
  padding: 20px;
  width: 300px;
  border-radius: 100px;
  margin-bottom: 10px;
  border: 0.7px solid #bac0d4b3;
}

.fieldset {
  border: none;
  border-top: 0.7px solid #bac0d4b3;
  .fioh-legend {
    text-align: center;
  }
}
a {
  cursor: pointer;
  text-decoration: none;
}

button {
  padding: 12px 0px;
  width: 100%;
  border-radius: 30px;
  background-color: #ffffff;
  border: 0.7px solid #181819b3;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
:disabled {
  opacity: 0.5;
}
