<app-auth-layout>
  <h2 class="signIntxt">Login</h2>
  <!-- <div class="loading-spinner" *ngIf="isLoggedIn"><side-bars /></div> -->

  <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
    <div class="formField">
      <input
        placeholder="Enter your email"
        id="fiohEmail"
        type="email"
        name="email"
        formControlName="email"
      />
    </div>

    <div class="formField">
      <input
        placeholder="Enter your password"
        id="fiohPassword"
        [type]="  passwordVisibility  ? 'text' : 'password'"
        name="pwd"
        formControlName="pwd"
      />
      <span class="show" (click)="passwordVisibility = !passwordVisibility">
        <img  [src]=" passwordVisibility ? 'assets/images/show.png' : 'assets/images/hide.png' " alt="" />
      </span>
    </div>
    <div class="checkBoxcontainer">
      <cus-check-box idn="remember"> Remember me </cus-check-box>
      <a href="" class="fioh-forgotPassword">Forgot password?</a>
    </div>
    <div class="fiohLoginBtn">
      <button id="fiohBtn" type="submit" [disabled]="!signUpForm.valid">
        {{ isLoggedIn ? "Sign Up" : "Login" }}
      </button>
    </div>
  </form>

  <fieldset class="fieldset">
    <legend class="fioh-legend">OR</legend>
    <fbg *ngFor="let f of fiohBtns; let i = index">
      <button class="social" (click)="signFbg(i)">
        <span class="displayImg">
          <img [src]="f.imageSrc" alt="fbg img"
        /></span>
        <span>{{ f.text }}</span>
      </button>
    </fbg>
    <div class="fiohSignupContainer">
      <div class="acc">Don't have an account?</div>
      <a class="fiohSignup" (click)="onSwitch()">{{
        isLoggedIn ? "Log in" : "Sign up"
      }}</a>
    </div>
  </fieldset>

  <div
    class="caution"
    *ngIf="error && isError"
    [ngClass]="{ visible: error && isError }"
  >
    <span>{{ error }}</span>
  </div>
</app-auth-layout>
