<div class="abtxt">
  <h2>
    Diversity, Equity, and <br />
    Inclusion at Loom
  </h2>
  <p class="fiohTxt">
    FIOH is a digital sanctuary dedicated to honoring the cherished memories of
    our <br />
    loved ones. We understand the profound significance of preserving the
    legacies and <br />
    stories of those who have left an indelible mark on our lives. Here, we
    provide a <br />
    timeless space where memories can thrive, and legacies can endure.
  </p>
</div>
<div class="abtStories">
  <div class="txt">
    <img src="assets/images/abtV.png" alt="" />
    <h2 class="fiohAbt">Building a Memorial Paradise</h2>
    <p class="fiohArticle">
      Our mission is the belief that memories are the <br />
      threads that bind us together, transcending time <br />
      and space. Whether it's a heartfelt tribute, a <br />
      cherished photograph, or a poignant message, <br />
      each contribution serves as a testament to the <br />
      enduring impact of our loved ones' lives.
    </p>
    <img src="assets/images/abtVec.png" alt="" />
    <h2 class="fiohAbt">Building a Memorial Paradise</h2>
    <p class="fiohArticle">
      Lorem ipsum dolor sit amet consectetur. Amet <br />
      dictumst imperdiet urna lacinia. Cras facilisis <br />
      porttitor eu praesent iaculis. Ante quisque ornare.
    </p>
  </div>
  <div class="img">
    <img src="assets/images/abtStories.png" alt="aboutStory.png" />
  </div>
</div>
<div class="fiohIns">
  Insightful article and <br />
  helpful resources
</div>
<patnership></patnership>
