.package {
  border-radius: 2.5px;
  border: 1px solid rgba(186, 192, 212, 0.6980392157);
  .submitBtn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .pricing-btn {
      background: var(--primary);
      height: 42px;
      padding: 0 25px;
      font-weight: 600;
      border-radius: 100px;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 15px;
    }
  }
  .level {
    font-weight: 700;
    font-size: 20px;
  }
  .card {
    margin-bottom: 20px;
    font-size: 15px;
    color: var(--grey);
  }
  .price {
    font-size: 50px;
    font-weight: bolder;
  }
}
:disabled {
  opacity: 0.5;
}

.package-container {
  // border: 1px solid #bac0d4b2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 250px;
  cursor: pointer;
}
