<section>
  <div class="pricing-plan">
    <div>
      <h2 class="h2-price">Pricing Plans</h2>
    </div>
    <div>
      <p>Start with free trial. No credit card needed. Cancel at anytime.</p>
    </div>
  </div>
</section>
<app-alert *ngIf="Subscription == 'yearly'" [message]="error"></app-alert>

<div class="package">
  <div class="package-container" *ngFor="let package of Packages">
    <div>
      <label for="pricing"
        ><input type="radio" for="pricing" id="pricing"
      /></label>
    </div>
    <div>{{ package.level }}</div>
    <div>{{ package.card }}</div>
    <div>{{ package.price }}</div>
    <div class="submitBtn">
      <button type="submit" class="pricing-btn">Get Started</button>
    </div>
  </div>
</div>

<div class="fbsp">
  <table>
    <thead>
      <tr>
        <th>Features</th>
        <th>Basic ($0)</th>
        <th>Standard ($40)</th>
        <th>Premium ($80)</th>
      </tr>
    </thead>
  </table>
</div>
<section>
  <div>
    <tbody>
      <tr>
        <td>
          <div *ngFor="let feature of Features">
            <div>{{ feature.heading }}</div>
            <div>{{ feature.subHeading }}</div>
          </div>
        </td>
        <td>
          <div>
            <!-- svg icon -->
          </div>
        </td>
      </tr>
    </tbody>
  </div>
</section>
