<section class="section">
  <div class="sub">
    <p class="sub-text">
      Honoring legacy and preserving memories!
      <svg
        class="side-arrow"
        xmlns="http://www.w3.org/2000/svg"
        height="26"
        viewBox="0 -960 960 960"
        width="50"
      >
        <path
          d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"
        />
      </svg>
    </p>
  </div>

  <h2 class="fioh-beginning">
    We provide families with the <br />
    opportunity to heal, connect, <br />
    and find solace after
    <em> experiencing a loss. </em>
  </h2>
</section>

<div class="mem">
  <img
    class="mem-img-container"
    src="assets/images/tri.svg"
    alt="memoria image"
  />

  <div class="mem-container">
    <div class="mems">
      <h2 class="mems-content1">Create a Memorial Website</h2>
      <p class="mems-content2">I want to share a memory of</p>
      <div class="formContainer">
        <form action="">
          <label for="fname">
            <input
              class="memorial-form"
              id="fname"
              type="FirstName"
              placeholder="First Name"
            />
          </label>
          <label for="lname">
            <input
              class="memorial-form"
              id="lname"
              type="LastName"
              placeholder="Last Name"
            />
          </label>
          <button class="mem-but">Create Memorial</button>
        </form>
      </div>
    </div>
  </div>
</div>

<patnership></patnership>
<div class="recent">
  <h2 class="recent-text">Recent online memorials</h2>
</div>
<div class="scrl-container">
  <div class="mem-text">
    <div>
      The memories of our loved ones shine forever. We ensure their legacy lives
      on by cherishing and <br />
      preserving those precious moments that defined who they were.
      <div></div>
    </div>
  </div>

  <!-- <div>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of memoriaImage">
        <ng-template carouselSlide>
          <img [src]="slide.imagePath" alt="slideImages" />
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div> -->
</div>

<div id="pass-away">
  <h1 class="away-text">Let us help you with the neccessary</h1>
  <h1 class="away-text">steps when a loved one <em>passed away.</em></h1>
  <div class="img-container">
    <img class="mem-img-container" src="assets/images/Frame.svg" alt="frame" />
  </div>
</div>
<div class="big-pass-conatiner">
  <h4 class="big-pass-text">
    The comprehensive and intelligence tool you need to create a beautiful
    online memorial.
  </h4>
  <button class="get-started">Get started today</button>
  <img src="assets/images/patricia.svg" alt="testimony" />
</div>
<div class="tribute">
  <h2 class="tribute-text">
    Your tribute and needs will always <br />
    be at the center of our service
  </h2>
  <div class="tributee" *ngFor="let t of memoriaImage">
    <!-- <div><img [src]="t.imagePath" alt="" /></div> -->
    <!-- <div>{{ t.content }}</div> -->
    <!-- <div>{{ t.src }}</div> -->
  </div>
  <div class="three-dots">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</div>
<h2 class="fioh-faq-text">Frequently asked <em>questions</em></h2>
<div id="faq">
  <div class="fandq" *ngFor="let question of questions">
    <div class="faq-big-container">
      <div class="faq-container">
        <h2 class="fioh-faq-title">{{ question.title }}</h2>
        <button class="faq-btn" (click)="showContext(question.id)">
          <span *ngIf="selectedId == question.id">-</span>
          <span *ngIf="selectedId != question.id">+</span>
        </button>
      </div>
    </div>
    <div class="questionAnswer" *ngIf="selectedId == question.id">
      {{ question.answer }}
    </div>
  </div>
</div>
