nav {
  background-color: #ffffff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  height: 79px;
  @media (max-width: 375px) {
    svg {
      width: 150px;
      height: 80px;
    }
  }
  .navLink {
    display: flex;
    gap: 15px;
    align-items: center;
    :nth-child(6) {
      visibility: hidden;
    }

    @media (max-width: 557px) {
      :nth-child(6) {
        visibility: visible;
      }
    }

    @media (max-width: 1006px) {
      display: none;
      &.opened {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform:  scaleY(1);
        transition: transform 0.3s ease-in-out;
        position: absolute;
        top: 100%;
        left: 0;
        justify-content: flex-start;
        padding: 10px;
        width: 100%;
        background: #fff;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
        a{
          display: block;
          width: 100%;
        }
        a:hover{
          font-weight: bold;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  .authLink {
    display: flex;
    align-items: center;
    gap: 15px;
    @media (max-width: 557px) {
      .signin {
        visibility: hidden;
      }
    }

    ::ng-deep app-memoral-modal {
      background-color: #fff;
      height: 450px;
      width: 400px;
      border-radius: 10px;
      .bird {
        background: #d92d20;
      }
      .modalContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .primbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: var(--primary);
    height: 42px;
    padding: 0 25px;
    border-radius: 100px;
    color: #fff !important;
    border: none;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 15px;
    @media (max-width: 375px) {
      font-size: 10px;
      padding: 0 7px;
      height: 34px;
    }
  }

  a {
    text-decoration: none;
    padding: 0 8px;
    display: flex;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: 600;
  }
}

.navbar-navbar {
  position: sticky;
  top: 0;
  z-index: 2000;
}

@media (max-width: 1006px) {
  .toggle {
    padding: 10px;
    cursor: pointer;
    .innerToggle {
      position: relative;
      height: 14px;
      width: 25px;

      &.opened {
        div {
          &:not(:nth-child(2)) {
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            &:last-child {
              transform: translateY(-50%) rotate(-45deg);
            }
          }
          &:nth-child(2) {
            transform: translateY(-50%) scale(0);
          }
        }
      }
      div {
        position: absolute;
        height: 2px;
        background: #000000 !important;
        width: 100%;
        &:first-child {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
          transform: translateY(50%);
        }
        &:last-child {
          top: 100%;
          transform: translateY(100%);
        }
      }
    }
  }
}
