.patner {
  padding-right: 30px;
  padding-left: 30px;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 0px;
  flex-wrap: wrap;
  .svgs {
    // flex: 2 300px;
    // width: 300px;
    display: flex;
    align-items: center;
  }

  .partners-text {
    font-size: 15px;
    color: rgba(67, 67, 69, 1);
    word-wrap: normal;
  }
}
