ul li {
    list-style: none;

}

/* li a::before {
    margin-right: 10px;
    margin-left: 10px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 30px;
} */

li a {
    /* margin-right: 10px; */
    margin-left: 5px;
    color: rgb(216, 204, 219);
    background-color: rgb(187, 25, 236);
    padding: 10px;
    border-radius: 30px;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 18px;
    background-color: white;
    border-radius: 40px;
    width: fit-content;
    margin-right: hidden;
}

.subscription-container {
    display: flex;
    justify-content: center;
}

a {
    cursor: pointer;
}

.package {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.package-container {
    border: 7px solid #bac0d4b2;
    text-align: center;
    display: flex;

}