.radioCheck {
  input + label {
    .radCheck {
      border: blue;
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }
}

input:checked + label {
  .radCheck {
    background: var(--radBtn);
    // border-color: var(--);
  }
}
