.memorial {
  max-width: 1040px;
  margin: 53px auto 0px;
  .memorialDetail {
    max-width: 916px;
    form {
      &.open {
        position: relative;
        top: 100;
        background: var(--triout);
        color: #0000;
      }
    }
  }
}
