.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0px;
  flex-wrap: wrap;
  .svgs {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 20px;
    .patner {
      flex: 1 200px;
      width: 200px;
    }
  }

  .partners-text {
    font-size: 15px;
    color: rgba(67, 67, 69, 1);
    word-wrap: normal;
  }
}
