.honor {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(157, 28, 185, 1);
  align-items: center;
  margin-top: 50px;
  border-radius: 15px;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0 30px 0;

  em {
    font-family: "Tiempos Headline";
    font-weight: normal;
  }
  .h2 {
    color: #ffffff;
    font-size: 60px;
    @media(max-width: 390px){
      font-size: 30px;
    }
  }
}

#honor {
  display: flex;
  @media (max-width: 580px) {
    .mail {
      max-width: 130px;
    }
    .get_started {
      max-width: 113px;
    }
  }
}

#forever {
  display: flex;
  flex-direction: column;
}

#aside {
  max-width: 300px;
}

#socials_images {
  height: 25px;
  width: 25px;
}

.page {
  margin-top: 20px;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1183px;
}
@media (max-width: 495px) {
  #footer:has(p) {
    font-size: 11px;
  }
}

.mail {
  padding: 20px;
  width: 300px;
  border-radius: 30px;
  border-color: #ffffff;
  border: none;
}

.get_started {
  width: 150px;
  border-radius: 30px;
  border-color: #000000;
  margin-left: 8px;
  background-color: #000000;
  color: #ffffff;
}

.terms {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.term {
  margin-right: 8px;
}
.left {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}
.right {
  display: flex;
  flex-direction: row;
  padding: 10px;
  .each {
    flex: 1 200px;
    width: 200px;
  }
}
