<div class="fioh-container">
  <div class="fioh-image"></div>
  <div class="fioh-big-container">
    <div class="fioh-signIn-container">
      <h2 class="signIn-text">Login</h2>
      <div class="fioh-sigIn-Form">
        <form action="">
          <div class="fioh-form">
            <label for="fioh-email"
              ><input
                placeholder="Enter your email"
                type="email"
                id="fioh-email"
            /></label>
            <label for="fioh-email" class="fioh-mail"
              ><input
                type="email"
                id="fioh-email"
                placeholder="Enter your email"
            /></label>
          </div>
          <div class="checkBox-container">
            <div class="fioh-checkbox">
              <label for="checkbox"
                ><input type="checkbox" id="checkbox"
              /></label>
              <p>Remember me</p>
            </div>
            <a href="" class="fioh-forgotPassword">Forgot password?</a>
          </div>
          <div class="fioh-loginBtn">
            <label for="fioh-btn"
              ><input type="submit" id="fioh-btn" value="Login"
            /></label>
          </div>
        </form>
        <fieldset class="fieldset">
          <legend class="fioh-legend">OR</legend>
          <div class="fioh-btn">
            <button>
              <!-- <svg class="display-img"></svg> -->
              <span>Continue with Google</span>
            </button>
          </div>
          <div class="fioh-signup-container">
            <div class="acc">Don't have an account?</div>
            <div class="fioh-signup">Sign up</div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
