p,
.cat {
  font-size: 14px;
  font-weight: 400;
}

.dash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  flex-wrap: wrap;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  .left {
    h2 {
      font-size: 18px;
      font-weight: 600;
    }
  }

  .right {
    a {
      text-decoration: none;
    }
    .primbtn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      background: purple;
      height: 42px;
      padding: 0 25px;
      border-radius: 100px;
      color: #fff !important;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 15px;
    }
  }
}
#catloges {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  .carts {
    background: #fff;
    width: 242px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .cat {
      color: #9197a2;
    }
    .price {
      .prices {
        color: #171717;
        font-size: 40px;
        font-weight: 700;
      }
    }
  }
}
#fiohUsr {
  padding: 20px;
  @media (max-width: 698px) {
    overflow: auto;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
    #recent {
      font-size: 14px;
      font-weight: 400;
      color: #434345;
    }
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 19px;
  }
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.details {
  display: flex !important;
  align-items: center !important;
  gap: 8px;
  div {
    span {
      img {
        width: 50px;
      }
    }
  }
  .profile {
    display: flex;
    flex-direction: column;
  }
}
tr {
  .status {
    text-align: center !important;
    span {
      color: #027a48 !important;
      background: #ecfdf3 !important;
      border-radius: 22px;
      padding: 5px;
    }
  }
}

::ng-deep app-modal {
  .modalContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
    span {
      background: #ebd5d3;
      margin-bottom: 10px;
      img {
        z-index: 100;
      }
    }
    h2 {
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 0px;
    }
    p {
      margin-bottom: 20px;
      max-width: 313px;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
    }
    button {
      border-radius: 100px;
      padding: 11px;
      background: var(--primary);
      border: var(--primary);
      color: #ffffff;
      margin-bottom: 31px;
      cursor: pointer;
    }
  }
}
