<section id="fiohDashBoard">
  <div class="dash">
    <div class="left">
      <h2>Welcome, {{ users[0].first_name }}</h2>
      <p>Manage and share Memorial of love ones</p>
    </div>
    <div class="right">
      <a class="primbtn" href="/" routerLink="user/Micheal/create-memorial"
        >Create memorials</a
      >
    </div>
  </div>
</section>

<section id="catloges">
  <div *ngFor="let c of categories" class="cart">
    <div class="carts">
      <span class="cat">{{ c.cat }}</span>
      <div class="price">
        <span *ngIf="c.cat == 'Donations'">$</span>
        <span class="prices">{{ +c.price }}</span>
      </div>
    </div>
  </div>
</section>
<section id="fiohUsr">
  <table>
    <tr>
      <th id="recent" colspan="5">Recent memorial</th>
      <th>see all</th>
    </tr>
    <tr>
      <th>Details</th>
      <th>Status</th>
      <th>Created</th>
      <th>Visitor</th>
      <th colspan="2">Link</th>
    </tr>
    <tr *ngFor="let u of users">
      <th class="details">
        <div>
          <span><img [src]="u.avatar" alt="" /></span>
        </div>
        <div class="profile">
          <span>{{ u.first_name }} {{ u.last_name }}</span>
          <span>{{ persons.details.from }} - {{ persons.details.to }}</span>
        </div>
      </th>
      <th class="status">
        <span>{{ persons.status }}</span>
      </th>
      <th class="status">
        {{ persons.createdAt | date : "fullDate" }}
      </th>
      <th class="status">{{ persons.visitor }}</th>
      <th class="status">{{ persons.link }}</th>
      <th class="status">{{ persons.icon }}</th>
    </tr>
  </table>
</section>
<!-- <div #wlcmodalOpener>{{Modal}}</div> -->
