#fiohDashBoard {
  margin: 60px 40px;
}

p,
.cat {
  font-size: 14px;
  font-weight: 400;
}

.dash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin-left: 20px;
  flex-wrap: wrap;
  padding: 20px;
  .left {
    h2 {
      font-size: 18px;
      font-weight: 600;
    }
  }

  .right {
    a {
      text-decoration: none;
    }
    .primbtn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      background: purple;
      height: 42px;
      padding: 0 25px;
      border-radius: 100px;
      color: #fff !important;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 15px;
    }
  }
}
#catloges {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 20px;
  .carts {
    background: #fff;
    flex: 1 242px;
    width: 242px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .cat {
      color: #9197a2;
    }
    .price {
      .prices {
        color: #171717;
        font-size: 40px;
        font-weight: 700;
      }
    }
  }
}
#fiohUsr {
  padding: 20px;
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
}

tr:nth-child(even) {
  background-color: #dddddd;
}
