<section id="navNav">
  <div class="fiohLogo">
    <img src="assets/images/fiohLogo.png" alt="fiohLogo" />
  </div>
  <div class="authLink">
    <div>
      <a class="each" href="" routerLink="/user/Micheal/dashboard">Overview</a>
    </div>
    <div>
      <a class="each" href="" routerLink="">Memorials</a>
    </div>
    <div>
      <a
        class="each"
        href="/user/Micheal/online-memorial"
        routerLink="/user/Micheal/online-memorial"
      >
        {{ mem ? "Settings" : " Online Memorials" }}
      </a>
    </div>
  </div>
  <div class="right">
    <span><img src="assets/images/notification.png" alt="notification" /></span>
    <div class="person">
      <span class="drop"
        >{{ fname[0].first_name }}<img src="assets/images/drop.png" alt="" />
        <div class="logout" (click)="LogOut()">
          <div><img src="assets/images/setting.png" alt="" /> settings</div>
          <div><img src="assets/images/logout.png" alt="" /> logout</div>
        </div>
      </span>
    </div>
  </div>
</section>
<router-outlet />
