.section {
    text-align: center;
    margin-top: 50px;
}

.sub {
    display: flex;
    justify-content: center;
}

.sub-text {
    width: fit-content;
    padding: 15px;
    font-size: 20px;
    border-radius: 30px;
    background-color: rgba(157, 28, 185, 0.08);
    color: rgba(157, 28, 185, 1);
    font-size: 25px;
    margin-bottom: 15px;
    align-items: center;

}

.memorial-form {
    width: 25%;
    height: 30px;
    padding: 15px;
    border-radius: 30px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    margin-right: 10px;
}

.create-memorial {
    border-radius: 30px;
    background-color: rgba(157, 28, 185, 1);
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

img {
    width: 100%;
    height: 500px;
    margin-left: 30px;
    border-radius: 10px;
}

.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;

}

form {
    margin-right: -300px;
}

.patner {
    padding-right: 30px;
    padding-left: 30px;
}

.recent {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0px;
}

.mem-but {
    width: 15%;
    height: 60px;
    border-radius: 30px;
    border-style: solid;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(23, 23, 23, 1);
}

.mem-text {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    background-color: rgba(157, 28, 185, 1);
    color: rgba(255, 255, 255, 1);
    margin: 20px 20px;
    height: 450px;
    width: 700px;
    border-radius: 30px;

}

.mems {
    height: 250px;
    width: 1000px;
    background-color: rgba(157, 28, 185, 0.85);
    padding-top: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 0px;
    position: absolute;
    left: 80px;
    bottom: -200px;
    border-radius: 10px;
}


.scrl-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 0px;
    padding: 0px;
}


.scrl {
    margin: 0 10px;
    padding: 0px;
}

.display {
    margin-right: 8px;
}

.preview {
    background-color: rgba(157, 28, 185, 1);
    height: 300px;
    border-radius: 10px;
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 8px;
    position: relative;
    left: 0;
    top: 0;
}

.content {
    color: #ffffff;
    padding: 20px;
    align-items: center;
    font-size: 20px;
}

.action-button {
    padding: 15px;
    background-color: rgba(157, 28, 185, 1);
    border-color: #ffffff;
    color: #ffffff;
    border-radius: 30px;
    font-size: 15px;
}

#pass-away {
    background-color: black;
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 50px;
}

.away-text {
    color: #ffffff;
    text-align: center;
}

.get-started {
    background-color: rgba(157, 28, 185, 1);
    padding: 20px;
    border-radius: 40px;
    color: #ffffff;
    border-color: rgba(157, 28, 185, 1);
    font-size: 20px;
}

.tributee {
    background-color: rgba(34, 34, 34, 1);
    height: 400px;
    border-radius: 10px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.tribute {
    background-color: rgba(23, 23, 23, 1);
    height: 800px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#faq {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.fandq {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.faq-btn {
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 40px;
    width: 40px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 100px;
    margin-bottom: 8px;
    font-size: 20px;
}

.honor {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgba(157, 28, 185, 1);
    height: 300px;
    align-items: center;
    margin-top: 50px;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#honor {
    margin-left: -50px;
    display: flex;
}

.mail {
    padding: 20px;
    width: 300px;
    border-radius: 30px;
    border-color: #ffffff;

}

.get_started {
    padding: 20px;
    width: 200px;
    border-radius: 30px;
    border-color: #000000;
    margin-left: 8px;
    background-color: #000000;
    color: #ffffff;
}

#forever {
    display: flex;
}

#aside {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.page {
    margin-top: 20px;
}

#socials_images {
    height: 25px;
    width: 25px;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    background-color: #ffffff;
    margin-top: 30px;

}

.terms {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.term {
    margin-right: 8px;
}

.scrl {
    display: inline-block;
    justify-content: flex-start;
    flex-direction: row;
}