.search-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: start;
    margin-left: 5%;
    margin-right: 5%;

}

.all-post {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

a :link {
    color: rgba(157, 28, 185, 1);
}

.posts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.next-prev {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
}

.prev {
    background-color: red;
    border-radius: 50px;
    /* border-color: ; */
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background-color: grey;
}

.honor {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgba(157, 28, 185, 1);
    height: 300px;
    align-items: center;
    margin-top: 50px;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#honor {
    margin-left: -50px;
    display: flex;
}

#forever {
    display: flex;
}

#aside {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.page {
    margin-top: 20px;
}

#socials_images {
    height: 25px;
    width: 25px;
}

footer {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    background-color: #ffffff;
    margin-top: 30px;

}

.mail {
    padding: 20px;
    width: 80%;
    border-radius: 30px;
    border-color: #ffffff;

}

.get_started {
    padding: 20px;
    width: 200px;
    border-radius: 30px;
    border-color: #000000;
    margin-left: 8px;
    background-color: #000000;
    color: #ffffff;
}