.fiohBackDisplay {
  display: flex;
  flex-direction: column;
  height: 200px;
  color: #ffffff;
  // :first-child {
  //   margin-top: 20px;
  // }
  span,
  h2 {
    text-align: center;
  }
  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    .tabList {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      cursor: pointer;
      padding: 10px;
      background: var(--triout);
      border-radius: 100px;
      li {
        padding: 10px;
        &.active {
          background: #ffffff;
          color: #000000;
          padding: 5px;
          border-radius: 100px;
        }
      }
    }
  }
}
.container {
  display: flex;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 682px) {
    flex-wrap: wrap;
  }
  //   align-items: center;
  ::ng-deep app-memorial-tabs {
    hr {
      color: #a1a9c4;
    }

    .tributeText,
    .tributeContent,
    .cont {
      text-align: left;
    }
    .tributeContent {
      margin-bottom: 20px;
    }
    .cont {
      margin-bottom: 40p;
    }
    .tributes {
      flex-wrap: wrap;
      button {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 100px;
        gap: 10px;
        background-color: #ffffff !important;
        border: 0.7px solid #bac0d4;
      }
    }
    .tributes,
    .eachTribute {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .eachTribute {
      gap: 30px;
    }
    .tribute {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      padding: 10px;
      background: var(--tribute);
      border-radius: 12px;
    }
    .tributeDob {
      text-align: left !important;
    }
    .form {
      background: 0.5px #dde0eb;
      width: 594px;
      border-radius: 20px;
      margin-top: 40px;
      form {
        display: flex;
        flex-direction: column;
        padding: 0 20px 10px;
        .formControl {
          border-radius: 100px;
          height: 50px;
          margin-top: 29px;
          margin-bottom: 15px;
          border: 0.7px #bac0d4;
          background: #ffffff;
        }
        #story {
          border-radius: 15px;
          margin-bottom: 20px;
        }
        .formControl,
        #story {
          border: 0.7px #bac0d4;
          background: #ffffff;
          padding: 0px 10px 0px;
        }
        button {
          background: var(--primary);
          color: #ffffff;
          width: 107px;
          border: var(--primary);
          border-radius: 100px;
          padding: 7px;
        }
      }
    }
    .photos {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 10px;
      img {
        width: 100%;
      }
      @media (max-width: 1067px) {
        width: 400px;
      }
      @media (max-width: 375px) {
        width: 330px;
      }
    }
    .nextPrev {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 22px;
      .prevs {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px;
        border-radius: 100px;
        border: 0.7px solid #bac0d4;
        background: #ffffff;
      }
    }
    .stories,
    .form {
      @media (max-width: 1068px) {
        width: 500px;
      }
      @media (max-width: 975px) {
        width: 400px;
      }
      @media (max-width: 875px) {
        width: 300px;
      }
      @media (max-width: 998px) {
        width: 393px;
      }
    }
  }

  .left {
    margin-top: 20px;
    max-width: 400px;
    padding: 10px;
    @media (max-width: 375px) {
      max-width: 335px;
    }
    ::ng-deep side-bars {
      .slider {
        img {
          width: 100%;
        }
      }
      :nth-child(3) {
        a {
          color: var(--triout);
          span {
            fill: var(--triout);
          }
        }
      }
    }
    form {
      display: flex;
      gap: 10px;
      .donateInput {
        width: 168px;
        height: 32px;
        border-radius: 100px;
        border: 0.7px solid #bac0d4;
        padding: 0 10px 0px;
      }
      button {
        height: 39px;
        border-radius: 100px;
        padding: 10px;
        width: 97px;
        background: var(--triout);
        color: #ffffff;
        border: var(--triout);
      }
    }
    .contact {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    .address {
      display: flex;
      gap: 10px;
      :nth-child(2) {
        width: 100px;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 10px;
        border-radius: 100px;

        border: 1px solid #bac0d4;
      }
    }
    .updates {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .recentUpdate {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      .flower {
        background: #f0f0f0;
        border-radius: 50%;
        padding: 20px;
        span {
          fill: 1px solid black;
        }
      }
    }
    .formData {
      display: flex;
      flex-direction: column;
      .leaveTribute {
        display: flex;
        flex-direction: row;
        align-items: center;
        button {
          width: 165px;
          border-radius: 100px;
          padding: 10px;
          display: flex;
          gap: 5px;
          border: 0.7px solid #bac0d4 !important ;
          background: #ffffff;
          color: var(--triout);
        }
      }
      #note {
        padding: 10px;
        border-radius: 8px;
        border: 0.7px solid #bac0d4;
      }
    }
  }
}
::ng-deep app-footer {
  .honor {
    display: none !important;
  }
  .left {
    margin-top: 50px !important;
  }
}
