.pricing-plan {
  text-align: center;
}

.h2-price {
  font-size: 50px;
  font-weight: bold;
}

ul li {
  list-style: none;
}

.subscriptionContainer {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 7px;
    height: 30px;
    background-color: white;
    border-radius: 40px;
    width: fit-content;
    gap: 5px;
    border: 0.7px solid #bac0d4b3;
  }
  li {
    display: flex;
    align-items: center;
    &.active {
      color: rgb(216, 204, 219);
      background-color: var(--primary);
      padding: 10px;
      border-radius: 30px;
    }
  }
}

a {
  cursor: pointer;
}

.packs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

::ng-deep pricing-plans {
  flex: 1 250px;
  width: 250px;
}

.fbsp {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
}

table {
  width: 100%;
  border-collapse: collapse;
  caption-side: bottom;
}

::ng-deep pricing-plans :hover {
  background: #f5edf5;
}
