.pricing-plan {
  text-align: center;
}

.h2-price {
  font-size: 50px;
  font-weight: bold;
}

ul li {
  list-style: none;
}

li a {
  margin-left: 3px;
  color: rgb(216, 204, 219);
  background-color: var(--primary);
  padding: 10px;
  border-radius: 30px;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 18px;
  background-color: white;
  border-radius: 40px;
  width: fit-content;
}

.subscription-container {
  display: flex;
  justify-content: center;
}

a {
  cursor: pointer;
}

.packs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

::ng-deep pricing-plans {
  flex: 1 250px;
  width: 250px;
}

.fbsp {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
}

table {
  width: 100%;
  border-collapse: collapse;
  caption-side: bottom;
}

::ng-deep pricing-plans :hover {
  background: #ea95ea;
  color: #ffff;
  border-color: var(--primary) !important;
  & button {
    background: #ffff !important;
    color: black !important;
  }
}
