<section>
  <div class="pricing-plan">
    <div>
      <h2 class="h2-price">Pricing Plans</h2>
    </div>
    <div>
      <p>Start with free trial. No credit card needed. Cancel at anytime.</p>
    </div>
  </div>
</section>
<!-- <app-alert *ngIf="Subscription == 'yearly'" [message]="error"></app-alert> -->
<div class="subscription-container">
  <div>
    <ul>
      <li [class.active]="Subscription == 'yearly'">
        <a (click)="Subscription = 'yearly'">Yearly</a>
      </li>
      <li [class.active]="Subscription == 'lifeTime'">
        <a (click)="(Subscription == 'lifetime')">LifeTime</a>
      </li>
    </ul>
  </div>
</div>
<div [ngSwitch]="Subscription" class="subscription">
  <div *ngSwitchCase="'yearly'">yearly plan is good</div>
  <div *ngSwitchCase="'lifeTime'">lifeTime</div>
  <div *ngSwitchDefault></div>
</div>

<div class="packs">
  <pricing-plans
    *ngFor="let package of Packages"
    [pack]="package"
    #pricePlan
    (priceEvent)="onNavigate($event)"
  >
    <radio-check></radio-check>
  </pricing-plans>
</div>

<div class="fbsp">
  <table>
    <thead>
      <tr>
        <th>Features</th>
        <th>Basic ($0)</th>
        <th>Standard ($40)</th>
        <th>Premium ($80)</th>
      </tr>
    </thead>
  </table>
</div>
<!-- <section>
  <div>
    <tbody>
      <tr>
        <td>
          <div *ngFor="let feature of Features">
            <div>{{ feature.heading }}</div>
            <div>{{ feature.subHeading }}</div>
          </div>
        </td>
        <td>
          <div>
             svg icon -->
<!-- </div>
        </td>
      </tr>
    </tbody>
  </div>
</section> -->
